/*--------------------------------------------------------------------
*
* Skeletor.css
* v.0.0.1
* --------------------------------------------------------------------
*
* Written by Karolina Szczur (twitter.com/@fox)
* Modularise, rewrite, reuse
* ❤︎
*
--------------------------------------------------------------------*/

@import 'components/base'