/*--------------------------------------------------------------------
*
* VARIABLES
*
--------------------------------------------------------------------*/

$font-base = 1rem
$font-large = $font-base*1.5
$font-small = $font-base*0.75