/*--------------------------------------------------------------------
*
* VARIABLES
*
--------------------------------------------------------------------*/

$font-serif = 'Calendas Plus', Georgia, Times, serif

$font-base = 1.125rem
$font-large = $font-base*1.5
$font-small = $font-base*0.8

$line-height-base = 1.5